.wrapper {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
}

.profile {
  background-color: #4e4e4e;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.summary {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
