.wrapper {
  min-height: 78vh;
  color: white;
  font-size: 20px;
  width: 80.625rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 0;
}

.subtitle {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: rgba(245, 245, 245, 0.8);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.8);
}

.linkto {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  margin: 3rem 0;
}

.cardlink {
  text-decoration: none;
}

.titlebox {
  width: 100%;
  height: 100px;
  background: #3e3e3e;
  border-radius: 14px;
}

.wrap {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.date {
  font-weight: bold;
  font-size: 0.7rem;
  color: #a8a8a8;
}

.maintitle {
  font-weight: bold;
  font-size: 2.2rem;
  color: #ffffff;
}

.bodybox {
  margin: 3rem 0;
  font-size: 1rem;
}

.endline {
  .lineItem {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1rem;
    &:first-child {
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }
    &:last-child {
      border-bottom: 1px solid #e4e4e4;
    }
    .leftText {
      margin-left: 1rem;
    }
    .rightText {
      margin-left: 3rem;
    }
  }
}
