.wrapper {
  min-height: 78vh;
  color: white;
  font-size: 20px;
  width: 80.625rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-top: 5rem;
  margin-bottom: 0;
}

.subtitle {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: rgba(245, 245, 245, 0.8);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(245, 245, 245, 0.8);
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cardlink {
  text-decoration: none;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.pagination :hover {
  cursor: pointer;
}

.pageNumber {
  background-color: #818181;
  color: #ffffff;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 5px;
  font-size: 15px;
}
