.body {
  position: fixed;
  width: 60px;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 20000;
}

.hovered {
  margin-right: -200px;
  padding-right: 200px;
}
