.open_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  height: 3rem;
  padding: 0 1rem 0 1rem;
}

.open_container:hover {
  background-color: #777777;
  border-radius: 5px;
}

.closed_container {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
  position: relative;
}

.closed_container:hover {
  background-color: #777777;
  border-radius: 5px;
}

.on_image {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  overflow: hidden;
  border: 2px solid #ff5454;
  background-color: white;
  display: inline-block;
}

.off_image {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  overflow: hidden;
  border: 2px solid #676767;
  background-color: white;
  display: inline-block;
}

.on_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.off_image {
  width: 2rem;
  height: 2rem;
  border-radius: 3rem;
  overflow: hidden;
  border: 2px solid #676767;
}

.off_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.subcontent {
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}

.viewer {
  color: #ff5454;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-left: auto;
}

.description_modal {
  display: none;
  position: fixed;
  width: 180px;
  margin-left: 10px;
  left: 60px;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
  z-index: 18000;
}

.closed_container:hover .description_modal {
  display: block; // hover 시 보임
}

.modal_container {
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.modal_content {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.modal_subcontent {
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.titledisc {
  max-width: 77px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.closed_titledisc {
  max-width: 110px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
