.body {
  position: fixed;
  overflow-y: auto;
  -ms-overflow-style: none;
  width: 220px;
  height: 100%;
  background: #1e1f27;
}

.body::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
