.search_box {
  display: flex;
  /* gap: 10px;  gap 제거 */
  width: 100%;
}

.search__input_container {
  position: relative;
  width: 100%;
}

.search__input {
  width: 100%;
  color: white;
  height: 50%;
  padding: 8px; /* 오른쪽 패딩을 더 늘려서 버튼 공간 확보 */
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
}

/* Search input placeholder styling */
.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:focus {
  /* 입력 필드가 포커스 되었을 때 스타일 */
  color: white; /* 포커스 시 글자색 변경 */
}

.search_btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    height: 75%;
    object-fit: fill;
  }
}
