.modal {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100%;
  background-color: #1e1f27;
  z-index: 1000;
  animation: slideDown 0.3s ease-in-out;

  .search_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search__input_container {
    width: 100%;
  }

  .search__input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    outline: none;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
