.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.number {
  flex: 1.5;
  text-align: center;
}

.image {
  max-width: 44px;
  max-height: 44px;
  margin-left: 0.5rem;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  display: inline-block;
}

.name {
  font-weight: 700;
  font-size: 1rem;
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  flex: 8.5;
}

.rank {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.8rem;
  gap: 0.3rem;
  vertical-align: bottom;
  line-height: 0.8;
  text-align: right;
}

.link {
  color: inherit;
  text-decoration: none;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zero {
  color: #666666;
}
