.container {
  width: 100%;
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #f4f4f4;
}

.subitem {
  padding: 0 2rem;
  display: flex;
  height: 5rem;
  align-items: center;
}

.subitem:not(:last-child) {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}

.index {
  flex: 0.7;
  font-size: 1.5rem;
  font-weight: 700;
}

.nameinfo {
  flex: 8.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.image {
  max-width: 48px;
  max-height: 48px;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  display: inline-block;
}

.name {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
}

.info {
  flex: 1.8;
  margin-left: auto;
  font-size: 1rem;
}

.fav {
  flex: 0.7;
  text-align: right;
  max-height: 20px;
}

.fav img {
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}

.negative {
  color: #ff6161;
}

.positive {
  color: #38ff40;
}

.zero {
  color: #3e3e3e;
}

.liveindex {
  flex: 0.7;
  font-size: 1.5rem;
  font-weight: 700;
}

.livenameinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  flex: 2.3;
}

.livename {
  font-size: 1.1rem;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.livename .link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 117px; /* 로고 너비 8px 포함하여 조정 */
  vertical-align: middle;
}

.logo {
  display: inline-flex;
  padding-left: 8px;
}
.livetitleinfo {
  flex: 5.8;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: -0.1px;
  color: #ffffff;
  max-width: 80%;
  padding: 0 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.livesubinfo {
  flex: 1.7;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: right;
  letter-spacing: -0.1px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
}

.liveinfo {
  flex: 1;
  margin-left: auto;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  text-align: right;
  color: #ffffff;
}

.livefav {
  flex: 1;
  text-align: right;
  max-height: 20px;
  cursor: pointer;
}

.rank {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.8rem;
  gap: 0.3rem;
  vertical-align: bottom;
  line-height: 0.8;
  text-align: right;
}
