.container {
  width: 100%;
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #f4f4f4;
  min-width: 900px;
}

.subitem {
  padding: 0 2rem;
  display: flex;
  height: 4rem;
  align-items: center;
  transition: background-color 0.3s ease;
}

.subitem:not(:last-child) {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}

.subitem:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.index {
  flex: 0.7 0 7%;
  font-size: 1.5rem;
  font-weight: 700;
}

.nameinfo {
  flex: 6 0 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}

.image {
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  position: relative;
  aspect-ratio: 1 / 1;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.info {
  flex: 2.6 0 26%;
  font-size: 1rem;
  text-align: right;
}

.fav {
  flex: 0.7 0 7%;
  text-align: right;
  max-height: 20px;
}

.fav img {
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}

.negative {
  color: #ff6161;
}

.positive {
  color: #38ff40;
}

.zero {
  color: #3e3e3e;
}

.liveindex {
  flex: 0.7 0 7%;
  font-size: 1.5rem;
  font-weight: 700;
}

.livenameinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  flex: 2 0 20%;
}

.livename {
  font-size: 1.1rem;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.livename .link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 106px;
  vertical-align: middle;
}

.logo {
  display: inline-flex;
  padding-left: 8px;
  vertical-align: middle;
}
.livetitleinfo {
  flex: 4.4 1 44%;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: -0.1px;
  color: #ffffff;
  max-width: 80%;
  padding: 0 3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.livesubinfo {
  flex: 1.7 0 17%;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: right;
  letter-spacing: -0.1px;
  max-width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
}

.liveinfo {
  flex: 0.7 0 7%;
  margin-left: auto;
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  text-align: right;
  color: #ffffff;
}

.livefav {
  flex: 0.5 0 5%;
  text-align: right;
  max-height: 20px;
}

.livefav img {
  cursor: pointer;
}

.rank {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.8rem;
  gap: 0.3rem;
  vertical-align: bottom;
  line-height: 0.8;
  text-align: right;
}

.arrow {
  width: 7px;
  height: 12px;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #f4f4f4;
    min-width: 325px;
  }
  .index {
    flex: 1 1;
    font-size: 3.5vw;
    font-weight: 700;
  }

  .nameinfo {
    flex: 5.5;
    gap: 2vw;
  }

  .image {
    width: 6vw;
    height: 6vw;
    max-width: 8vw;
    max-height: 8vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid white;
    background-color: white;
    display: inline-block;
    position: relative;
    aspect-ratio: 1 / 1;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .name {
    font-size: clamp(0.9rem, 2.8vw, 1.2rem);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 2vw;
    align-items: center;
  }

  .name img {
    vertical-align: middle;
  }
  .info {
    flex: 4.5;
    text-align: right;
    font-size: clamp(0.7rem, 2.3vw, 1rem);
  }

  .subitem {
    padding: 0 0.8rem;
  }

  .arrow {
    width: 1vw;
    height: 1.7vw;
    min-width: 0.3rem;
    min-height: 0.5142rem;
  }

  .rank {
    font-size: clamp(0.5rem, 2.4vw, 0.8125rem);
    gap: 0.2rem;
  }

  .liveindex {
    flex: 0 0 8%;
    font-size: clamp(0.5rem, 2.6vw, 1rem);
    font-weight: 700;
  }

  .livenameinfo {
    flex: 0 0 30%;
    gap: 1.5vw;
  }

  .livename {
    font-size: clamp(0.9rem, 2.7vw, 1.2rem);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 1.2vw;
    align-items: center;
  }

  .logo {
    padding: 0;
  }

  .livetitleinfo {
    flex: 0 1 62%;
    font-weight: 300;
    font-size: clamp(0.7rem, 2.3vw, 0.8rem);
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: -0.1px;
    color: #ffffff;
    max-width: 80%;
    padding: 0 0 0 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all; /* 단어가 넘칠 때 줄 바꿈 */
  }
}

@media (max-width: 520px) {
  .caneli {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
  }
}
