.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 7.82945% 2rem 7.82945%;
  justify-content: space-between;
}

.box {
  background: #3e3e3e;
  border-radius: 10px;
  width: 31.1926%;
  height: 280px;
}

/* .imageURL {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  background: url(.png);
  border: 3px solid #ff5454;
  border-radius: 46px;
}
**/
