.container {
  box-sizing: border-box;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #f4f4f4;
}
.subitem {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 5rem;
  align-items: center;
}

.subitem:not(:last-child) {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}
