.wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 7.82945% 2rem 7.82945%;
  justify-content: space-between;
}

.box {
  position: relative;
  background: #3e3e3e;
  border-radius: 10px;
  width: 31.1926%;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  max-width: 70px;
  max-height: 70px;
  margin: 3.5rem auto 0 auto;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  display: inline-block;
}

.name {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.name img {
  align-items: center;
}

.info {
  width: 75%;
  font-size: 1.1rem;
  background: #232323;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 2rem;
  padding: 0.3rem 0;
  margin: 0.3rem auto;
  text-align: center;
}

.rankimage {
  position: absolute;
  left: 57%;
  top: 43%;
  transform: translate(-50%, -50%);
  z-index: 1999;
}

.favimage {
  position: absolute;
  left: 92%;
  top: 10%;
  transform: translate(-50%, -50%);
  z-index: 1999;
}

.favimage img {
  cursor: pointer;
}
.link {
  color: inherit;
  text-decoration: none;
}

.liveinfo {
  max-width: 80%;
  margin: auto;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.subinfo {
  margin-top: 0.4rem;
  font-weight: 600;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.5px;
}

.livecntinfo {
  width: 75%;
  font-size: 1.1rem;
  background: #232323;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 2rem;
  padding: 0.3rem 0;
  margin: 0 auto 2rem auto;
  text-align: center;
}

.liverankimage {
  position: absolute;
  left: 57%;
  top: 39%;
  transform: translate(-50%, -50%);
  z-index: 1999;
}

.liveimage {
  max-width: 70px;
  max-height: 70px;
  margin: 2.5rem auto 0 auto;
  border-radius: 3rem;
  overflow: hidden;
  border: 1px solid white;
}

.negative {
  color: #ff6161;
}

.positive {
  color: #38ff40;
}

.mainzero {
  color: rgba($color: #ffffff, $alpha: 0.7);
}
.zero {
  color: #3e3e3e;
}

// .content {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 0 0.8rem;
//   font-size: 0.7rem;
// }

.rank {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 0.8rem;
  gap: 0.3rem;
  vertical-align: bottom;
  line-height: 0.8;
  justify-content: center;
}
