.wrapper {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .container {
      width: 80%;
      max-width: 1290px;
      margin: 0 auto;
  }

  .header {
    margin-bottom: 2rem;
  }

  .search {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }