.main {
  color: white;
  background-color: #1e1f27;
}

.container {
  padding-top: 1.5625%;
  padding-left: 10.67708333333333%;
  padding-right: 10.67708333333333%;
}

.content {
  padding: 1.8%;
  display: flex;
  flex-direction: column;
}
.notice {
  /* height: 100%; */
  background-image: url(../stores/image\ 91.png);
  background-repeat: no-repeat;
  left: 30%;
  background-size: cover;
  /* left: 50%; */
}

.notice_title {
  font-family: "GmarketSans";
  font-size: 20px;
  padding-top: 1%;
}

.pin {
  font-family: "SeoulHangangM";
  /* height: fit-content; */
  font-family: "GmarketSans";
  font-size: 13px;
}

.date {
  font-family: "SeoulHangangM";
  font-size: 13px;
  padding-top: 1%;
}

.border {
  border: solid 2px rgba(217, 217, 217, 50%);
  border-radius: 20px;
  overflow: hidden;
}

.ranking {
  padding-top: 2.76%;
}
.title {
  font-size: 40px;
  font-family: "GmarketSans";
}

.sub_title {
  font-size: 13px;
}
.live_main {
  display: flex;
  flex-direction: column;
}

.more {
  padding-left: 95%;
}

.streaming_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  font-family: "GmarketSans";
}

.live_list_title {
  font-size: 18px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin-top: 2%;
  /* padding-bottom: 2%; */
}

.live {
  /* font-family: "GmarketSans"; */
  width: 2200px;
  height: 250px;
  display: flex;
  background-color: #3e3e3e;
  padding: 1%;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-bottom: 2%;
  margin-right: 3%;
  border-radius: 8px;
}

.live_thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
}

.live_thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

.second_container {
  display: flex;
  align-items: center;
  font-weight: 300;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.platform_icon {
  width: 24px;
  height: 24px;
  object-fit: contain; /* 이미지의 비율을 유지하면서 부모 요소에 맞게 조절 */
}

.platform_icon > img {
  border-radius: 8px;
  width: 24px;
}

.bj_name {
  font-family: "GmarketSans";
  font-size: 13px;
  padding-left: 3%;
}

.category {
  font-size: 10px;
  margin-left: auto;
}

.third_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bj_thumbnail {
  width: 50px;
  height: 50px;
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
}

.bj_thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

.live_title {
  width: calc(100% - 50px);
  height: 50px;
  font-size: 13px;
  font-weight: medium;
  padding-left: 5%;
  padding-bottom: 1%;
  align-items: flex-start;
}

.cnt {
  display: flex; /* 자식 요소들을 나란히 배치하기 위해 flex 사용 */
  justify-content: flex-end; /* 자식 요소들을 좌우로 분산 정렬 */
}

.cnt_icon {
  margin-right: 5px;
}

.cnt_icon > img {
  opacity: 69%;
}

.viewer {
  opacity: 69%;
  align-self: flex-start; /* 오른쪽 정렬 */
}

.live_title {
  font: "GmarketSans";
  font-size: 17px;
  display: flex; /* 요소를 플렉스 박스로 설정하여 내부의 요소들을 정렬하기 쉽게 합니다. */
  padding-top: 0;
}

@media (max-width: 1200px) {
  .live {
    width: calc(50% - 1%); /* 브라우저 너비가 768px 이하일 때 2개씩 배치 */
  }
}

@media (min-width: 1200px) {
  .live {
    width: calc(20%); /* 브라우저 너비가 769px 이상일 때 4개씩 배치 */
  }
}

.more {
  float: right;
}

.animation {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.animation_container {
  top: -30px;
  position: relative;
}

.rankbox {
  position: relative;
  height: 175px;
  width: 550px;
  background-color: #2b3b44;
  border: 5px solid black;
  overflow: hidden;
  transform: translate(0%, 20%);
  margin-bottom: 10px;
}

.playerimage {
  position: absolute;
  float: left;
  width: 40%;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  animation: slidingFadeIn 1s 1;
}

.teamlogo {
  position: absolute;
  float: left;
  left: 140px;
  top: 10px;
  width: 20%;
  z-index: 1;
  animation: fadeIn 1s 1;
}

.playername {
  position: absolute;
  color: white;
  font-family: Jakarta;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  text-shadow:
    -5px 0 black,
    0 5px black,
    5px 0 black,
    0 -5px black;
  z-index: 5;
  right: 3%;
  bottom: -15%;
  animation: slidingFadeIn 1s 1;
}

.ranking {
  font-family: Jakarta;
  font-size: 20px;
  position: relative;
  text-align: center;
  color: white;
  animation: fadeIn 1.5s 1;
}

.rankingcontainer {
  background-color: black;
  border: 2px solid white;
  border-top: 0px;
  border-right: 0px;
  position: relative;
  height: 28%;
  width: 12%;
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slidingFadeIn {
  0% {
    transform: translateX(-50px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
