.searchresult {
  color: white;
  background-color: #1e1f27;
  // padding-top: 1.5625%;
  padding-left: 10.67708333333333%;
  padding-right: 10.67708333333333%;
  padding-bottom: 0%;
  // height: 100vh;
}

.top {
  border-bottom: 1px solid rgba($color: #e4e4e4, $alpha: 0.5);
}

.title {
  font-size: 32px;
  margin-bottom: 2%;
  font-weight: bold;
  font-family: "GmarketSans";
}
.sub_title {
  font-family: "GmarketSans";
  margin-top: 0%;
  color: #a8a8a8;
  font-weight: lighter;
  font-size: 13px;
}

.sub_title > span {
  color: yellow;
  font-weight: bold;
}

.streamer_title {
  font-size: 18px;
  font-weight: bold;
  font-family: "GmarketSans";
  margin-top: 1%;
}

.streamer_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: 1px solid rgba($color: #e4e4e4, $alpha: 0.5);
}

.streamer {
  width: 22%;
  height: 8%;
  display: flex;
  background-color: #3e3e3e;
  padding: 1%;
  margin-bottom: 2%;
  margin-right: 1%;
  border-radius: 8px;
}

.streamer_thumbnail {
  width: 80px;
  height: 80px;
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
  border-radius: 100%;
}

.streamer_thumbnail > img {
  // width: 100%; /* 부모 요소에 맞추어 이미지 크기 조정 */
  // height: 100%; /* 부모 요소에 맞추어 이미지 크기 조정 */
  // object-fit: cover; /* 이미지를 확대 또는 축소하여 부모 요소에 맞춤 */
  display: block;
  width: 100%;
  height: 100%;
}

.streamer_info {
  padding-left: 6%;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.streamer_name {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 4%;
  font-size: 14px;
  font-weight: bold;
  font-family: "GmarketSans";
  overflow: hidden;
  // white-space: nowrap; /* 줄 바꿈 방지 */
  text-overflow: ellipsis;
}

.first_container {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.platform {
  // overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
  width: 24px;
  height: 24px;
}

.platform > img {
  height: 24px;
  border-radius: 10%;
}

.sss {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  color: red;
  font-size: 200px;
}

.no_data {
  height: 30vh;
}

.followers {
  padding-top: 4%;
  color: white;
  opacity: 69%;
  font-size: 10px;
}

.favorites {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.live_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: 1px solid rgba($color: #e4e4e4, $alpha: 0.5);
  font-family: "GmarketSans";
}

.live_list_title {
  font-size: 18px;
  font-weight: bold;
  font-family: "GmarketSans";
  display: flex;
  margin-top: 2%;
  padding-bottom: 2%;
  justify-content: flex-start;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 14px;
  font-weight: bold;
  color: #e5e5e5;
  font-family: "GmarketSans";
  border: 2px solid #6c6c6c;
  border-radius: 55px;
  margin: auto;
}

.more > p {
  position: inherit;
}

.live {
  font-family: "GmarketSans";
  width: 2200px;
  height: 250px;
  display: flex;
  background-color: #3e3e3e;
  padding: 1%;
  // flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2%;
  margin-right: 3%;
  border-radius: 8px;
}

.live_thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
}

.live_thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
}

.second_container {
  display: flex;
  align-items: center;
  font-weight: 300;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.platform_icon {
  width: 24px;
  height: 24px;
  object-fit: contain; /* 이미지의 비율을 유지하면서 부모 요소에 맞게 조절 */
}

.platform_icon > img {
  border-radius: 8px;
  width: 24px;
}

.bj_name {
  width: 100%;
  font-family: "GmarketSans";
  font-size: 10px;
  // font-weight: lighter;
  padding-left: 3%;
}

.category {
  font-size: 10px;
  // font-weight: lighter;
  margin-left: auto;
}

.third_container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bj_thumbnail {
  width: 50px;
  height: 50px;
  // height: 100px;
  overflow: hidden; /* 내부 내용이 넘치는 경우 숨김 처리 */
  // border-radius: 100%;
}

.bj_thumbnail > img {
  display: block;
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

.live_title {
  width: calc(100% - 50px);
  height: 50px;
  font-size: 13px;
  font-weight: medium;
  padding-left: 5%;
  padding-right: 0;
  padding-bottom: 1%;
  align-items: flex-end;
}

.cnt {
  display: flex; /* 자식 요소들을 나란히 배치하기 위해 flex 사용 */
  justify-content: flex-end; /* 자식 요소들을 좌우로 분산 정렬 */
}

.cnt_icon {
  margin-right: 5px;
}

.cnt_icon > img {
  opacity: 69%;
}

.viewer {
  opacity: 69%;
}

.responsive_live_content {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* 아이템 간의 간격 조절 */
}

.responsive_live_flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* 아이템 간의 간격 조절 */
}

.responsive_live_item {
  /* background-color: #f0f0f0; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 10px;
  flex: 1 1 calc(25% - 16px); /* 기본 4개 */
  max-width: calc(25% - 16px); /* 아이템의 최대 너비 고정 */
  min-width: calc(25% - 16px); /* 아이템의 최소 너비 고정 */
  box-sizing: border-box;
  overflow: hidden; /* 아이템 크기 고정 */
  transition: flex-basis 0.3s ease; /* 반응형 전환을 부드럽게 함 */
}

.hyper_link {
  color: inherit;
  text-decoration: none;
}

.hyper_link:hover {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .responsive_live_item {
    flex: 1 1 calc(50% - 16px); /* 2개 */
    max-width: calc(50% - 100px); /* 아이템의 최대 너비 고정 */
    min-width: calc(50% - 100px); /* 아이템의 최소 너비 고정 */
  }
}

@media (max-width: 1000px) {
  .responsive_live_item {
    flex: 1 1 calc(100% - 16px); /* 1개 */
    max-width: calc(100% - 370px); /* 아이템의 최대 너비 고정 */
    min-width: calc(100% - 370px); /* 아이템의 최소 너비 고정 */
  }
}

.responsive_first_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.responsive_live_thumbnail_box {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 비율 */
  overflow: hidden;
  border-radius: 8px;
}

.responsive_live_thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responisve_on_air_box,
.responisve_platform_box {
  display: flex;
  align-items: center;
}

.responisve_on_air_box {
  position: absolute;
  left: 8px;
  top: -6px;
}

.responisve_platform_box {
  /* position: absolute; */
  left: 59px;
  top: 8px;
}

.responisve_view {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 4px;
  border-radius: 4px;
}

.responisve_on_air {
  width: 50px;
}

.responisve_platform {
  width: 24px;
  height: 24px;
}

.responsive_second_row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.responisve_bj_thumbnail_box {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /* background-color: #ccc; */
  margin-right: 8px;
  overflow: hidden;
  /* text-align: center; */
}

.responsive_live_thumbnail_box:hover {
  transform: scale(1.2); /* 이미지 크기를 1.2배로 확대 */
}

.zoom-image:hover {
  transform: scale(1.2); /* 이미지 크기를 1.2배로 확대 */
}
.responsive_bj_thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responisve_info {
  display: flex;
  flex-direction: column;
  flex: 1; /* 가능한 공간을 차지하게 함 */
  overflow: hidden; /* 넘치는 내용을 숨김 */
}

.responisve_live_title {
  font-size: 16px;
  font-weight: bold;
  /* width: calc(25% - 16px); */
  margin-bottom: 4px;
  overflow: hidden; /* 추가: 넘치는 내용을 숨김 */
  text-overflow: ellipsis; /* 추가: 말줄임 표시(...) */
  white-space: nowrap; /* 추가: 한 줄로 표시 */
  width: 100%; /* 부모 요소의 너비에 맞추기 */
}

.responisve_bj_name {
  font-size: 14px;
  color: #666;
}

.responsive_category {
  font-size: 14px;
  /* color: #999; */
  /* text-align: left; */
  padding-left: 3%;
  font-weight: 500;
}

.responsive_third_container {
  display: flex;
}

@media (max-width: 1200px) {
  .live {
    width: calc(50% - 1%); /* 브라우저 너비가 768px 이하일 때 2개씩 배치 */
  }
}

@media (min-width: 1200px) {
  .live {
    width: calc(20%); /* 브라우저 너비가 769px 이상일 때 4개씩 배치 */
  }
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
