.wrapper {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 768px) {
    .wrapper {
      padding-bottom: 3rem;
      margin-left: 2rem;
      margin-right: 2rem;
      min-width: 300px;
    }
  }