.wrap {
  margin-top: 3.5rem;
  cursor: pointer;
}

.cardlink {
  text-decoration: none;
}

.box {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #3e3e3e;
  border-radius: 14px;
  height: 160px;
}

.image {
  margin-right: 2rem;
  border-radius: 14px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.update {
  font-family: "Inter";
  color: #f8db46;
  font-weight: bold;
  font-size: 1rem;
}

.title {
  font-family: "Inter";
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}

.date {
  font-family: "Inter";
  color: #a8a8a8;
  font-weight: bold;
  font-size: 0.7rem;
}
