.categories {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category {
  display: flex;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #538ff8;
  color: white;
  font-size: small;
  font-weight: bolder;
  gap: 0.5rem;
}

.category:hover {
  background-color: blueviolet;
}

.x {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  font-size: smaller;
  font-weight: bolder;
  color: white;
}

.x:hover {
  color: black;
}
