.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.atag {
  text-decoration: none;
}

.livecard {
  display: block;
  width: calc(25% - (6rem / 4));
}

.no-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
}

.no-result {
  color: gray;
  font-size: large;
}


.plus {
  width: 100%;
  border-radius: 2rem;
  color: white;
  background-color: gray;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  cursor: pointer;  
}



@media (max-width: 1280px) {
  .wrapper {
    gap: 1rem;
  }

  .livecard {
    width: calc((100% - 2rem) / 3);
  }
}

@media (max-width: 1080px) {
  .wrapper {
    gap: 0.5rem;
  }

  .livecard {
    width: calc((100% - 1rem) / 2);
  }
}