.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  height: 5.5rem;
  margin-right: 0.5rem;
}

.page-name {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.page-introduce {
  margin: 0;
  padding: 0;
  color: gray;
}

@media (max-width: 768px) {
  .icon {
    height: 5.5rem;
    margin-right: 0.5rem;
  }

  .page-name {
    font-weight: bold;
    font-size: 2rem;
  }

  .page-introduce {
    font-size: 0.8rem;
  }
}
