<<<<<<< HEAD
.search-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.tags {
}
=======


.search-container {
    display: flex;
}

.tags {
}
>>>>>>> ac51269add7b7511c14ac32c724f421166ad45ff
