.livecard {
  background-color: red;
}

.content {
  background-color: blue;
  margin: 1rem;
}

.thumbnail {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.iconnamecategory {
  background-color: gray;
  display: flex;
  align-items: center;
}

.platformicon {
  height: 1.3rem;
  display: flex;
  align-items: center;
}

.name {
  color: white;
}

.category {
  color: white;
  margin-left: auto;
}

.channeltitle {
  background-color: yellow;
  display: flex;
  align-items: center;
}

.channel {
  height: 5rem;
}

.title {
  color: blue;
  padding-left: 1rem;
}

.iconviewers {
  background-color: green;
  display: flex;
  align-items: center;
}

.viewericon {
  height: 1rem;
  margin-left: auto;
}

.viewers {
    margin-left: 3px;
    margin-right: 1rem;
}