.container {
  justify-content: center;
}

.image-container {
  position: relative;
  margin: auto;
  border: 2px solid white;

  width: 50%;
  border-radius: 20px;
  padding: 0.5rem;
}

.on-air-box {
  display: flex;
  position: absolute;
  left: 20px;
  top: 5px;
}

.on-air {
  width: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.thumbnail {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.thumbnail:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.line {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .image-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.3rem;
  }

  .on-air-box {
    display: flex;
    position: absolute;
    left: 10px;
    top: 2px;
  }

  .on-air {
    width: 35px;
  }

  .thumbnail {
    border-radius: 10px;
  }

  .line {
    margin-top: 1rem;
  }
}
