.wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.time {
  display: grid;
  gap: 3rem;
  color: white;
  width: 100%;
  align-content: center;
  box-sizing: border-box;
}

.time-container {
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.time-title {
  color: white;
  font-size: 1rem;
}

.time-cnt {
  margin-top: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.time-diff {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.positive {
  color: #8ce09e;
}

.negative {
  color: #d38883;
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
  }

  .time {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .time-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid white;
    width: 50%;
    border-radius: 10px;
    padding: 0.5rem;
  }

  .time-title {
    font-size: 0.4rem;
  }

  .time-cnt {
    font-size: 0.6rem;
    margin: 0;
    margin-left: auto;
  }

  .time-diff {
    margin: 0;
    font-size: 0.4rem;
    margin-left: auto;
  }
}
