.button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;

    width: 7.5rem;
    height: 31px;
    font-weight: 400;
    font-size: 13px;
    color: white;
    background: #232323;
    border: 1px solid #949393;
    border-radius: 5px;
  }