.wrapper {
  height: 300px;
  border-width: 1rem;
  border-radius: 20px;

  border: 2px solid white;
  margin-top: 1rem;

}

.container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}

.name {
  color: white;
}

.tooltip-container {
  background-color: white;
  padding: 5px 9px;
}

.tooltip-content{
  display: flex;
  gap: 7px;
}

.tooltip-color {
  display: block;
  align-self: center;
  width: 12px;
  height: 12px;
}