.container {
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 4rem;
}

.viewer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  color: white;
  gap: 3rem;
}

.viewer-container {
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 2rem;
  width: 20%;
}

.viewer-title {
  color: white;
}

.viewer-cnt {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.viewer-diff {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.positive {
    color: #8ce09e;
  }
  
  .negative {
    color: #d38883;
  }
  