.chart-container {
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 4rem;
}

.totaltime {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  width: 30%;
  color: white;
  font-size: x-large;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.list-container {
  margin-top: 3rem;
}

.label {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.list {
  display: flex;
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 1rem;
  align-items: center;
  color: white;
}

.rank {
  width: 5%;
}

.name {
  width: 65%;
}

.time {
  width: 20%;
  text-align: center;
}

.viewer {
  width: 10%;
  text-align: center;
}
