.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  column-gap: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  background-color: #4e4e4e;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.button:hover {
  background-color: #969696;
  color: black;
}

.button {
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.select {
  background-color: gray;
  color: black;
}

.wrapper-responsive {
  width: 100%;
}

.button-responsive {
  text-align: center;
  align-items: center;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 0.6rem;
  color: white;
  background: #232323;
  border: 1px solid #949393;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 0;
  }
}
