.select {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.date {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.content {
  background-color: #4e4e4e;
  border-radius: 20px;
}
