.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  column-gap: 0.5rem;
  // background-color: #4e4e4e;
  border: 1px solid white;

  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: #4e4e4e;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.button:hover {
  background-color: #969696;
  color: black;
}

.button {
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.select {
  background-color: gray;
  color: black;
}
