.wrapper {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 2rem;
}

.container {
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
}

.time {
  display: grid;
  gap: 3rem;
  color: white;
  width: 100%;
  align-content: center;
  box-sizing: border-box;
}

.time-container {
  background-color: #4e4e4e;
  border-radius: 20px;
  padding: 1rem;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
}

.time-title {
  color: white;
  font-size: 1rem;
}

.time-cnt {
  margin-top: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.time-diff {
  margin-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.positive {
    color: #8ce09e;
  }
  
  .negative {
    color: #d38883;
  }
  